body{
    font-family: "Zen Kaku Gothic New", sans-serif!important;
}
.content-wrapper{
    position: relative;
    background-color: var(--main-bg-color);
    color:var(--main-font-color);
    padding: 20px;
}
.window-wrapper{
    max-width: 1200px;
    margin: auto;
}
a{
    color: var(--main-navy);
}
h1{
    font-weight: 700;
    color: var(--main-font-color);
    margin-top: -4.5rem;
    padding-top: 4.5rem;
    position: relative;
}
h1::after{
    background-image: url('./../images/base/moon.png');
    margin-left:10px;
    position: absolute;
    right:0px;
    top:2.8rem;
    width:80px!important;
    height:80px!important;
}
h2{
    font-weight: 700;
    position: relative;
    background-size: 6px 6px!important;
    background: linear-gradient(-45deg, transparent 25%, var(--main-bg2-color) 25%, var(--main-bg2-color) 50%, transparent 50%, transparent 75%, var(--main-bg2-color) 75%, var(--main-bg2-color));
    padding:10px 0px 10px 8px;
    margin-top:40px;
}
h2::after{
    background-image: url('./../images/base/cat.png');
    bottom:2px;
    position: relative;
    width:24px!important;
    height:24px!important;
}
h1::after,h2::after{
    content: '';
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left:10px;
    display: inline-block;
}
em{
    font-style: normal;
    font-weight: 600;
    background: linear-gradient(to bottom, transparent 0%, transparent 59%, var(--main-emp-color) 70%);
}
th, td {
    background-color: transparent!important;
}
.table>:not(caption)>*>* {
    border-bottom-width: 2px;
}
.table-short {
    max-width:320px!important;
}
.my-ul, .my-sup{
    border-radius: 6px;
    border: double 4px var(--main-font-color);
    background-color: var(--main-white-50-color);
    padding: 9px;
    margin-top:0.5rem;
}
.my-sup{
    font-size:0.9rem;
}
.my-ul{
    padding-left: 30px;
}
.text-start{
    margin:18px 0px 18px 0px;
}
@media (max-width: 600px){
    .content-wrapper {
         padding: 12px;
     }
}