:root{
    --main-bg-color: #F0F0F6;
    --main-bg2-color: #e0E0E6;
    --main-font-color:#011A27;
    --main-navy:#063852;
    --main-emp-color: #E6DF44;
    --main-emp2-color: #F0810F;
    --main-white:#FFF;
    --main-gray:#C0C0C0;
}